extends layout

block head

block content
	#layout.pure-g
		.sidebar.pure-u-1.pure-u-md-1-4.main-image
			.header
				h1.brand-title.main-title= title
				//h2.brand-tagline 
				nav.nav
					ul.nav-list
						li.nav-item.main
							a.pure-button Home
						li.nav-item.main
							a.pure-button About Me

		.content.pure-u-1.pure-u-md-3-4
			div
				//A wrapper for all the blog posts
				.posts
					- each blogPost in blogPosts.reverse()
						section.post
							header.post-header 
								h2.post-title= blogPost.title
								p.meta= new Date(blogPost.created_at).toLocaleDateString()
							div.post-description!= blogPost.text


				#sideBar

				footer