extends layout

block head
	script(src="js/markdown.js")

block content
	div
	input(type="file",name="image",id="image",accept="image/*",tag="**01**",onchange="update()")		
	form(method="post")
		ul.nostyle
			li
				span.label Title : 
				input(type="text",name="title",id="newBlogPostTitle")
			li
				textarea(oninput="this.editor.update()",
				rows="6",cols="60",name="rawText",id="newBlogPostText")
					| Type **markdown** here
				input(type="hidden",name="postText",id="newBlogPostFormattedText")
			li
				input(type="submit",value="save")
	div#preview(style="width:40%;")

	script(type='text/javascript').
		
		function Editor(input, preview, hiddenfield){
			this.update = function () {
				var file = document.querySelector('input[type=file]').files[0];
				var html = markdown.toHTML(input.value);
				var reader = new FileReader();
				if(file !== undefined){
					var image;
					reader.addEventListener("load", function () {
						image = reader.result;
						while(html.indexOf('**01**') != -1){
							html = html.replace('**01**',image);
							preview.innerHTML = html;
							hiddenfield.value = preview.innerHTML
						}
					}, false);
					reader.readAsDataURL(file);
				}
				preview.innerHTML = html;
				hiddenfield.value = preview.innerHTML
			};
			input.editor = this;
			this.update();
		}
		var $ = function(id){ return document.getElementById(id); };
		new Editor($("newBlogPostText"), $("preview"), $('newBlogPostFormattedText'));